.git/
terraform-aws-ecs-fargate/
terraform-old-from-week-4/
ansible/
.env
.env.*
hc/local_settings.py
.venv/
venv/
**/__pycache__/
**/*.py[cod]
*.sqlite
*.sqlite3
*.db
static-collected/
**/.DS_Store
.gitignore
.dockerignore
Dockerfile
compose.yaml
requirements-dev.txt
mypy.ini
README.md
CONTRIBUTING.md
SECURITY.md
stuff/