.git/
.venv/
venv/
__pycache__/
*.py[cod]
.DS_Store

.env
.env.*
!.env.example
hc/local_settings.py

*.sqlite
*.sqlite3
*.db

terraform-old-from-week-4/
ansible/
**/.terraform/
**/*.tfstate*
**/*.tfvars
**/*.tfvars.json

static-collected/
