DB=postgres
DB_HOST={{ db_host | to_json }}
DB_PORT={{ postgres_port }}
DB_NAME={{ postgres_db_name | to_json }}
DB_USER={{ postgres_user | to_json }}
DB_PASSWORD={{ postgres_password | to_json }}
SECRET_KEY={{ django_secret_key | to_json }}
DEBUG=False
ALLOWED_HOSTS={{ app_hostname | to_json }}
SITE_ROOT={{ ('http://' ~ app_hostname) | to_json }}
